################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin.video.globo.com/plugin.video.globo.com.sln
