################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin.video.globo.com/.vs/plugin.video.globo.com/v14
