################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/plugin.video.globo.com/plugin.video.globo.com.sln
/plugin.video.globo.com/plugin.video.globo.com.pyproj.user
/plugin.video.globo.com/plugin.video.globo.com.pyproj
/plugin.video.globo.com/.vs/plugin.video.globo.com/v14/.suo
