<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="31000">
    <setting label="31100" type="lsep" />
    <setting id="globo_username" type="text" label="31110" default="" />
    <setting id="globo_password" type="text" option="hidden" label="31120" enable="!eq(-1,)" default="" />
    <setting label="31200" type="lsep" />
    <!-- <setting id="play_provider" type="enum" label="31210" lvalues="31211|31212|31213|31214|31215|31216|31217|31218" default="0" /> -->
    <setting id="play_provider" type="labelenum" label="31210" lvalues="31212|31214|31216|31217|31218" default="0" />
    <setting id="play_username" type="text" label="31110" default="" />
    <setting id="play_password" type="text" option="hidden" label="31120" enable="!eq(-1,)" default="" />
    <setting label="31300" type="lsep" />
    <!-- <setting id="video_quality" type="enum" label="31310" lvalues="31311|31312|31313" default="1" /> -->
    <!-- <setting id="page_size" type="labelenum" label="31400" values="10|20|40" default="10" /> -->
    <!-- <setting id="debug" type="bool" label="30150" default="false" /> -->
    <setting id="clear" type="action" label="31600" action="RunPlugin(plugin://plugin.video.globo.com/clear_index)"/>
  </category>
</settings>
