<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <!-- Globo.tv -->
  <category label="31100">
    <setting id="globo_username" type="text" label="31110" default="" />
    <setting id="globo_password" type="text" option="hidden" label="31120" enable="!eq(-1,)" default="" />
  </category>
  <!-- Globosat -->
  <category label="31200">
    <!-- <setting id="play_provider" type="enum" label="31210" lvalues="31211|31212|31213|31214|31215|31216|31217|31218" default="0" /> -->
    <setting id="play_provider" type="labelenum" label="31210" lvalues="31214|31216|31217|31218|31219|31220" default="0" />
    <setting id="play_username" type="text" label="31110" default="" />
    <setting id="play_password" type="text" option="hidden" label="31120" enable="!eq(-1,)" default="" />
  </category>
  <category label="31300">
    <!-- <setting id="page_size" type="labelenum" label="31400" values="10|20|40" default="10" /> -->
    <!-- <setting id="debug" type="bool" label="30150" default="false" /> -->
    <setting id="use_m3u8" type="bool" label="31800" default="false" />
    <setting id="video_quality" type="enum" label="31310" lvalues="31311|31312|31313" enable="eq(-1,false)" default="1" />
    <setting id="ignore_SSL" type="bool" label="31805" default="false" />
    <setting type="lsep" />
    <setting id="bitrate" type="labelenum" label="31700" lvalues="31710|31720|31730|31740|31750|31760|31770" default="31770" visible="false" />
    <setting id="clear" type="action" label="31600" action="RunPlugin(plugin://plugin.video.globo.com/clear_index)"/>
    <setting type="lsep" />
    <setting label="31810" type="lsep" />
    <setting label="31806" type="lsep" />
  </category>
</settings>